<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weather.user.mapper.UserMapper">

	<insert id="insertUser" parameterType="map">
		INSERT INTO `user_table`(
			`id`
			, `pw`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		) VALUE(
			#{id}
			, #{password}
			, #{name}
			, #{email}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectUser" resultType="com.weather.user.dto.UserDTO">
		SELECT * FROM `user_table`
		WHERE `id` = #{id}
	</select>
	
	<select id="selectId" parameterType="map" resultType="int">
		SELECT
			count(*)
		FROM 
			`user_table`
		WHERE
			`id` = #{id}
	</select>
	
	<select id="selectPasswordSearch" parameterType="map"
	resultType="com.weather.user.dto.UserDTO">
		SELECT
			`no`
			, `id`
			, `pw`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user_table`
		WHERE
			`id` = #{id}
			AND `email` = #{email}
	</select>
	
	<update id="updatePassword" parameterType="map">
		UPDATE
			`user_table`
		SET
			`pw` = #{password}
			, `updatedAt` = now()
		WHERE
			`no` = #{no}	
	</update>
	
	<select id="selectIdByUser" parameterType="map"
	resultType="com.weather.user.dto.UserDTO">
		SELECT
			`no`
			, `id`
			, `pw`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user_table`
		WHERE
			`name` = #{name}
			AND `email` = #{email}
	</select>
		
	<update id="mypageModify" parameterType="map">
		UPDATE
			`user_table`
		SET
			`name` = #{name}
			,`email` = #{email}
			, `updatedAt` = now()
		WHERE
			`no` = #{no}
	</update>
</mapper>