#pageBox {
	width: 1200px;
	margin: auto;
}

#contentBox {
	width: 1200px;
	height: 650px;
	position: relative;
	margin: 0 auto;
}

#mapBox {
	width: 600px;
	height: 650px;
	position : relative;
	float: left;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index : 1;
}

#menuButton {
    position: absolute;
    top: 10px; /* 상단 여백 조정 */
    left: 10px; /* 좌측 여백 조정 */
    z-index: 3; /* 다른 요소 위로 표시되도록 설정 */
}

#map{
	width: 100%;
	height: 100%;
	position : relative;
	z-index : 1;
}

#buttonBox {
	position: absolute;
	top: 30px;
	left : 2px;
	border: 1px solid #ccc;
	width: 320px;
	height: 150px;
	gap: 5px;
	z-index: 3;
	display : none;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    margin-right: 10px; /* 각 그룹 사이에 간격을 줍니다. */
}

.buttonGroup button {
    margin-right: 5px; /* 각 버튼 사이에 간격을 줍니다. */
}

#graphBox {
	width: 50%;
	height: 100%;
	float: right;
	background-color: #e0e0e0;
}

#dustBox {
	position : relative;
	width: 100%;
	height: 30%;
	background-color: #c0c0c0;
}

#line25GraphBox {
	width: 100%;
	height: 30%;
	background-color: #c0cfc0;
}

#donutGraphBox {
	width: 100%;
	height: 30%;
	display : flex;
	justify-content: center;
}

#donutGraphExplainBox{
	width: 100%;
	height: 10%;
	display : flex;
	justify-content: center;
}

#chartContainerSO2, #chartContainerCO, #chartContainerNO2,
	#chartContainerO3, #chartContainerAQI {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

#chartExplainSO2, #chartExplainCO, #chartExplainNO2,
	#chartExplainO3, #chartExplainAQI {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	text-align: center;
} 

#regionButtons {
	position: absolute;
	bottom: 2px;
	left : 2px;
	border: 1px solid #ccc;
	width: 320px;
	height: 150px;
	grid-template-columns: repeat(6, 1fr);
	gap: 5px;
	display : none;
}

#regionButtons button {
	width: 100%;
	padding: 5px;
	margin: 2px 2px;
}

#resultImageContainer{
	display:none;
	position : relative;
}

#resultImage {
    width: 600px;
    height: 650px;
}