#pageBox {
	width: 1200px;
	margin: auto;
}

#contentBox {
	width: 1200px; /* 너비 설정 */
	height: 650px; /* 높이 설정 */
	position: relative; /* 상대 위치 지정 */
	margin: 0 auto; /* 좌우 마진을 auto로 설정하여 가운데 정렬 */
}

#mapBox {
	width: 50%; /* 너비 설정 */
	height: 100%; /* 높이 설정 */
	float: left; /* 왼쪽으로 플로팅 */
	background-color: #ffffff; /* 배경색 설정 */
	display: flex; /* 외부 div를 플렉스 박스로 설정합니다. */
	justify-content: center; /* 내부 요소들을 수평 중앙에 정렬합니다. */
	align-items: center; /* 내부 요소들을 수직 중앙에 정렬합니다. */
}

#graphBox {
	width: 50%; /* 너비 설정 */
	height: 100%; /* 높이 설정 */
	float: right; /* 왼쪽으로 플로팅 */
	background-color: #e0e0e0; /* 배경색 설정 */
}

#line10GraphBox {
	width: 100%; /* 너비 설정 */
	height: 20%; /* 높이 설정 */
	background-color: #c0c0c0; /* 배경색 설정 */
}

#line25GraphBox {
	width: 100%; /* 너비 설정 */
	height: 30%; /* 높이 설정 */
	background-color: #c0cfc0; /* 배경색 설정 */
}

#donutGraphBox {
	width: 100%; /* 너비 설정 */
	height: 20%; /* 높이 설정 */
	display : flex;
	justify-content: center; /* 내부 요소들을 수평 중앙에 정렬합니다. */
}

#donutGraphExplainBox{
	width: 100%; /* 너비 설정 */
	height: 30%; /* 높이 설정 */
	display : flex;
	justify-content: center; /* 내부 요소들을 수평 중앙에 정렬합니다. */
}

#chartContainerSO2, #chartContainerCO, #chartContainerNO2,
	#chartContainerO3, #chartContainerAQI {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-right: 10px; /* 각 차트 사이의 간격 조정 */
}

#chartExplainSO2, #chartExplainCO, #chartExplainNO2,
	#chartExplainO3, #chartExplainAQI {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	text-align: center;
} 